<h1 style="text-align: center">Add Restaurant</h1>
<h5><a class="paginationButton"  href="/api/restaurants/?page=1&perPage=5">Go Back</a></h5>
<div class="editContainer">
<form method="POST" action="/api/restaurants/">
     <input type="text" name="name" placeholder="name" style="display:block;width:100%">
    <input type="text" name="building" placeholder="building" style="width:24.5%">
    <input type="text" name="street" placeholder="street" style="width:24.5%">
    <input type="text" name="zipcode" placeholder="zipcode" style="width:24.5%">
    <input type="text" name="borough" placeholder="borough" style="width:24.5%">
<input style="display: block" type="submit"></form>
</div>



