<h1 style="text-align: center">Edit Restaurant</h1>
<h5><a class="paginationButton" href="/api/restaurants/ ">Go Back</a></h5>
<div class="editContainer">
<form method="GET" action="/api/restaurants/">
     <input type="text" name="page" placeholder="Enter Page" style="display:block;width:100%">
    <input type="text" name="perPage" placeholder="Per Page" style="display:block;width:100%">
    <input type="text" name="borough" placeholder="Borough"  style="display:block;width:100%">
   
<input style="display: block" type="submit"></form>


</form>
</div>



